<h1 class="expand">
  <a id="cat_tree_expand" style="display:none;" href="#">
    <span id="label_hide" style="display:none;">Hide</span>
    <span id="label_show">Show</span> Layers
   </a>
</h1>
<div id="cat_tree">
  <div id="cat_tree_inset">
    <div id="cat_tree-padding">
      <ul class="tree_root">
        <li class="root_link"><%= link_to "Home", "#" %></li>
      <ul>
    </div>
  </div>
</div>

