<div id="footer">
  <%= link_to "Community Mapping", "http://github.com/bamnet/Community-Mapping" %> powered by <%= link_to "Flagship Geo", "http://github.com/bamnet/flagship_geo" %>.<br />
  Developed by <%= link_to "Brian Michalski", "http://geo.brispace.net" %>, supported by the <%= link_to "Rensselaer Center for Open Source", "http://rcos.cs.rpi.edu/" %>.
</div>
